.container-form{
    margin-left: -80px;
    border: 1px solid black;
    height: 350px;
    width: 300px;
  
  
}

.form-group {
    margin: 25px 30px 30px 30px; 

}
.canvas {
    margin-left: 140px;
    height: 50%;
    border: 1px solid black;
  }
  .canvas2 {
    margin-left: 430px;
    height: 20%;
    margin-top: -130px;
    text-align: center;
    border: 1px solid black;
  }
  